.background-container {
    position: relative;
  }
  
  .background-image {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-position: 50% 0px;
    /* https://photomosh.com/ */
    background:url(../glitched_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #222;

    /*
    Background will stay in the same position relative to the viewport
    Allowing it moved as we are scrolling
     */
    background-attachment: fixed; 
  }
  
  .terminal-wrapper {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    opacity: 0.9;
    
  }
  
  .terminal-wrapper img {
    opacity: 0.9;
    width: 100%;
    left: 50%;
  }
  
  .introduction {
    color: #39FF14;
    font-family: Menlo, 'Courier New', Courier, monospace;
    max-width: 80%;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 1.5vw;
}

  .software-engineer-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }

  

  /* Terminal Animation css */
  /* Outline drawing is done by anime 
     changing color and fading in the fill is done by css
     Change opacity to .9 and change from mercury(#e5e5e5 stroke to black)*/

  .animate-opacity-and-black-stroke-from-mercury {
    stroke-width: 2px;
    fill-opacity: 0;
    stroke:"#e5e5e5";
    /* animation-name animation-delay transition-timing-function: */
    animation: fill-in-color-and-black-stroke-mercury 2s ease-in-out; 
    animation-delay: 1.3s;
    animation-fill-mode: forwards; /* Keep the styling after the animation is finished*/
  }


    /* Change opacity to .9 and change from mercury(#A0A09F stroke to black*/
    /* Used for filling in body */
    .animate-opacity-and-black-stroke-from-gray {
      stroke-width: 2px;
      fill-opacity: 0;
      stroke:"#e5e5e5";
      /* animation-name animation-delay transition-timing-function: */
      animation: fill-in-color-and-black-stroke-dark-gray 2s ease-in-out; 
      animation-delay: 1.3s;
      animation-fill-mode: forwards; /* Keep the styling after the animation is finished*/
    }
  

  /* Only fill in opacity*/
  /* Fill in the opacity for circles */
  .animate-opacity-circles {
    stroke-width: 2px;
    fill-opacity: 0;
    stroke:"#e5e5e5";
    /* animation-name animation-delay transition-timing-function: */
    animation: fill-in-color 2s ease-in-out; 
    animation-delay: 1.3s;
    animation-fill-mode: forwards; /* Keep the styling after the animation is finished*/
  }



  /* Fade in the fill */
@keyframes fill-in-color-and-black-stroke-mercury {
    from {
      fill-opacity:0;
      stroke: #e5e5e5;
    }
    to {
      fill-opacity:0.9;
      stroke:black;
    }
  }

  @keyframes fill-in-color-and-black-stroke-dark-gray {
    from {
      fill-opacity:0;
      stroke: #A0A09F;
    }
    to {
      fill-opacity:0.9;
      stroke:black;
    }
  }


  @keyframes fill-in-color{
    from {
      fill-opacity:0;
      stroke-opacity: 1;
    }
    to {
      fill-opacity:0.9;
      stroke-opacity: 0;
    }
  }

