.menu-container {
  position: sticky;
  width: 100%;
  top: 0;
  background-color: #4a4a50;
  color: #e6e6fa;
  z-index: 9999;
  display: flex;
  /* justify-content: space-between;
  align-items: center; */
}

.grid-parent {
  display: grid;
  grid-template-columns: 1fr repeat(3, auto) 1fr;
  grid-template-rows: repeat(5, .5em);
  grid-column-gap: 50px;
  grid-row-gap: 5px;
  justify-content: space-between;
  align-items: center;
}

/* row-start, col-start, row-end, col-end */

.ftranio {
  grid-area: 3 / 4 / 4 / 5; 
}

.home-div {
  grid-area: 3 / 17 / 4 / 18; 
}

.portfolio-div {
  grid-area: 3 / 18 / 4 / 19; 
}

.skills-div {
  grid-area: 3 / 19 / 4 / 20; 
}

.contact-div {
  grid-area: 3 / 20 / 4 / 21; 
}