/* .menu-container {
  position: sticky;
  max-width: 100%;
  top: 0;
  background-color: #1b1b20;
  color: #e6e6fa;
  z-index: 9999;
  display: flex;
    overflow-x: hidden;
    word-wrap: break-word;


}

.grid-parent {
  display: grid;
  grid-template-columns: 1fr repeat(3, auto) 1fr;
  grid-column-gap: 5.7%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  letter-spacing:2.7px;
  grid-auto-flow: column;
  max-width: 100%;
}


/*  If we are using a grid with more than one row
 row-start, col-start, row-end, col-end 
 grid-area: 2 / 4 / 3 / 5;  */


 /* 
  If we are using a grid with just 1 row and a bunch of columns,
  we can use grid-column to specify the column instead if defining the entire area
 */

 
/* 
.ftranio {
  padding: 15px;
  grid-column: 4; 
}

.home-div {
   grid-column: 17; 

   padding:15px;
}

.portfolio-div {
   grid-column: 18; 
   background-color: #556555;
   padding:15px;
}

.skills-div {
   grid-column: 19; 
   padding:15px;
}

.contact-div {
   grid-column: 20; 
   padding:15px;
} */

.menu-container {
  position: sticky;
  max-width: 100%;
  top: 0;
  background-color: #1b1b20;
  color: #e6e6fa;
  z-index: 9999;
  display: flex;
  overflow-x: hidden;
  word-wrap: break-word;
}

.grid-parent {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  flex-wrap: wrap;
  letter-spacing: 2.7px;
  max-width: 100%;
}

.ftranio {
  padding: 15px;
  padding-left: 25px;
  margin-left: 7.5%;
}

.home-div {
  margin-left:36%;
  padding:15px;
}

.portfolio-div, .skills-div, .contact-div {
  padding: 15px;
}

.active_position {
  animation: fade-in-color .5s forwards ;
  animation-timing-function: linear;
}

.leaving_position {
  animation: fade-out-color .5s forwards;
  animation-timing-function: linear;
}


/* #556555 is 85,101,85,0 */
a {
  text-decoration: none;
  color:white !important;
  background-color: rgba(85,101,85,0)
}

a:hover {
  animation: fade-in-color;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes fade-in-color{
  from {
    background-color: rgba(85,101,85,0) /* (color, opacity) */
  }

  to {
    background-color: rgba(85,101,85,1)
  }
}

@keyframes fade-out-color{
  from {
    background-color: rgba(85,101,85,1) /* (color, opacity) */
  }

  to {
    background-color: rgba(85,101,85,0)
  }
}
