.PortfolioWrapper {
    height: 100vh;
    position: relative;
    background-color:#e0e0e3;
    color: #24243c;
  }
  
  .cardsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -30%);
    width: 80%;
    gap: 20px; /* add gap between the cards */
  }
  
  .portfolioText {
    position: absolute;
    opacity: 0;
    font-size: 2em;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-weight:bold;
    font-family: "Gill Sans", sans-serif;
  }

  .animate-text {
    animation-name: fade-in;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
  }
  
  .portfolio-card {
    /* background-color: #A0A09F; */
    padding: 20px;
    flex-grow: 1;
    flex-basis: 1;
    flex-shrink: 0; /* Don't resize our card*/
    margin: 0 10px;
    position: relative;
    opacity: .7;
    border-radius: 10px;
    opacity: 0;
    background-color: transparent !important;
    box-sizing: border-box !important; /* Don't resize our card*/
    /* border: solid #d0d0d6 2px; */

    /* Begin box drawing animation*/
    
  }


  /* When a card is hovered, apply blur to img*/
  .portfolio-card:hover img {
    filter: blur(5px);
  }

  .portfolio-card:hover .app-name{
    animation-name: fade-in-text;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  .portfolio-card:focus, .card:active {
    outline: none;
  }

  .portfolio-card:before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  
  .portfolio-card img {
    position: absolute;
    top: 5%;
    left: 5%;
    bottom: 5%;
    right: 0;
    width: 90%;
    height: 90%;
  }


  .cardText{
    position: absolute;
  }

  .portfolio-card.animate {
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  .portfolio-card:nth-child(1).animate {
    animation-name: slide-in-left;
  }
  
  .portfolio-card:nth-child(2).animate {
    animation-name: slide-in-left;
    animation-delay: .5s;
  }
  
  .portfolio-card:nth-child(3).animate {
    animation-name: slide-in-left;
    animation-delay: 1s;
  }



@keyframes slide-in-left {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to {
        opacity: 1;
        transform: none;
    }
  }

  @keyframes slide-in-right {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }

  @keyframes fade-in{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }

  .app-name {
    position: absolute;
    top: 5%;
    left: 50%;
    font-size: 1.25em;
    color: #39FF14;
    transform: translateX(-50%);
    z-index: 5;
    opacity: 0;
    text-align: center;
  }

  .app-description {
    left: 25%;
    top: 50%;
    transform: translateY(100%);
  }

  .portfolio-card:hover .app-description {
    visibility: visible;
    opacity: 1;
  }
  
  .app-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
    z-index: 1;
  }

  @keyframes fade-in-text{
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
  }

  .portfolio-card > span:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 20px;
    height: 0;
    border: 1px solid #24243c;
    border-left: none;
    border-bottom: none;
    transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
  }
  
  .portfolio-card:hover > span:after {
    width: calc(50% - 1px);
    height: calc(100% - 2px);
    transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
  }
  
  .portfolio-card > span:before {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    width: 20px;
    height: 0;
    border: 1px solid #24243c;
    border-right: none;
    border-bottom: none;
  
    transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
  }
  
  /* Top left corner Animation*/
  
  .portfolio-card:hover > span:before {
    width: calc(50% - 1px);
    height: calc(100% - 2px);
    transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
  }
  
  .portfolio-card > span > span:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0%;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
  
  .portfolio-card:hover > span > span:before {
    opacity: 1;
    border-bottom: 1px solid #24243c;
    width: calc(50%);
    height: 1px;
    transition: opacity 0s ease-out 0.29s, width 0.15s ease-out 0.3s;
  }
  
  .portfolio-card > span > span:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
  
  /* bottom left animation */
  .portfolio-card:hover > span > span:after {
    opacity: 1;
    border-bottom: 1px solid #24243c;
    width: calc(50%);
    height: 1px;
    transition: opacity 0s ease-out 0.29s, width 0.15s ease-out 0.3s;
  }
  