.portfolio-item-wrapper{
    color: #39FF14;  
    position: absolute;
    display:block;
    font-family: Menlo, 'Courier New', Courier, monospace;
}

.square-terminal-wrapper {
    position: relative;
    z-index: 2;
}


.project-name{
    font-weight: 100;
    z-index:2;
    position: absolute;
    font-size: 2vmax;
    text-align: center;
    width: 90%;
    height: 20%;
    top: 10%;
    left: 5%;
    display:grid;
}

.project-description-wrapper {
    font-weight: 100;
    z-index:2;
    position: absolute;
    font-size: 2vmax;
    text-align: center;
    width: 90%;
    height: 80%;
    top: 10%;
    left: 5%;
    display:grid;
}

.project-description-text{
    margin:auto;
}

.github-link-wrapper {
    position: absolute;
    z-index:2;
    width: 98px;
    height: 96px;
    top: 80%;
    left: 40%;
}
