.background-container {
    position: relative;
  }
  
  .background-image {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    filter: blur(2px);
  }
  
  .overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    opacity: 0.9;
    /* transform: translate(-50%, -170%); */

    /* transform: translate(-50%, -50%); */ 
  }

.introduction {
    color: 	#149414;
    font-family: monospace;
    font-size: 50px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}