
/* Use this to load the menu bar as we are scrolling down*/
.menu-container {
    position: relative;
    width: 100%;
    background-color: #4a4a50;
    color:#e6e6fa;
    z-index: 9999
  }

    /* Use this to stick the menu bar to the top of the screen */
  .is-fixed {
    position: fixed !important;
    top: 0;
    left: 0;
  }



  .grid-parent {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 9 / 2 / 10; }
    .div3 { grid-area: 1 / 10 / 2 / 11; }
    .div4 { grid-area: 1 / 11 / 2 / 12; }
    .div5 { grid-area: 1 / 12 / 2 / 13; }

    .space{
        padding-top:10px;
        background-color: #4a4a50;
    }