.PortfolioWrapper {
    height: 80vh;
    position: relative;
    /* 9898a5 grey
    e5e5e5 mercury*/
    background-color:#24243c;
    color: #8b8be6;
  }
  
  .cardsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 80%;
    gap: 20px; /* add gap between the cards */
  }
  
  .portfolioText {
    position: absolute;
    font-size: 30px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-weight:bold;
    font-family: "Gill Sans", sans-serif;
  }
  
  .card {
    /* background-color: #A0A09F; */
    padding: 20px;
    flex: 1;
    margin: 0 10px;
    position: relative;
    opacity: .7;
    border-radius: 10px;
    opacity: 0;

    background-color: transparent;
  }

  .card:before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  
  .card img {
    position: absolute;
    top: 5%;
    left: 5%;
    bottom: 5%;
    right: 0;
    width: 90%;
    height: 90%;
    /* object-fit: cover; */
  }

  #disc {
    position: absolute;
    top: 5%;
    left: 5%;
    bottom: 5%;
    right: 0;
    width: 90%;
    height: 90%;
  }

  .card img:hover {
    filter: blur(5px);
  }

  .cardText{
    position: absolute;
  }

  .card.animate {
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  .card:nth-child(1).animate {
    animation-name: slide-in-left;
    
  }
  
  .card:nth-child(2).animate {
    animation-name: slide-in-left;
    animation-delay: .5s;
  }
  
  .card:nth-child(3).animate {
    animation-name: slide-in-left;
    animation-delay: 1s;
  }

  #discord {

  }


@keyframes slide-in-left {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: none;
    }
  }

  @keyframes slide-in-right {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }

  @keyframes slide-in-top{
    from {
        opacity:0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: none;
    }
  }