
.skills-wrapper {
    height: 80vh;
    background-color:#c0c0f4;
    position: relative;
}

.seperation-drawing {
    position: absolute;
    width: 80vw;
    left: 10%;
    border-top: .5px solid grey;
}

.skills-text {
    position: relative;
    top: 10%;
    text-align: center;
    font-weight: bold;
    font-family: "Gill Sans", sans-serif;
    font-size: 2em;
}

/* Styling for line layouts */
.grid-container{
    display:flex;
    justify-content: center;
    align-items: flex-end; 
    height: 50vh;
}

.line-animiation-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);

    grid-column-gap: 15vw;
    grid-row-gap: 3vh;
    overflow-wrap: hidden;
    

}

.line-animiation-wrapper div{
    color:black;
    background-color: #A0A09F;
    text-align:center;
    padding-left: 12vw;
    padding-right: 12vw;
    padding-top: 1.25vh;
    padding-bottom: 1.25vh;
    border-radius: 5px;
}

.no-bar {
    background-color: none;
}


.div1 { grid-area: 1 / 1 / 2 / 2;}
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 3 / 1 / 4 / 2; }
.div4 { grid-area: 4 / 1 / 5 / 2; }
.div5 { grid-area: 5 / 1 / 6 / 2; }
.div6 { grid-area: 1 / 2 / 2 / 3; }
.div7 { grid-area: 2 / 2 / 3 / 3; }
.div8 { grid-area: 3 / 2 / 4 / 3; }
.div9 { grid-area: 4 / 2 / 5 / 3; }
.div10 { grid-area: 5 / 2 / 6 / 3; }


.color-animation {
    background: linear-gradient(to right, #b9f3b9 90%, #A0A09F 10%) no-repeat;
    background-size: 0% 100%;
    animation: gradient-slide 2s forwards;
  }
  
  @keyframes gradient-slide {
  to {
    background-size: 100% 100%;
  }
  }

